name: build

on:
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x, 16.x, 18.x]

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: "yarn"
      - name: install
        run: yarn
      - name: lint
        if: ${{ matrix.node-version }} != 14.x
        run: yarn lint
      - name: build
        run: yarn build
      - name: test
        run: yarn test
