name: secrets_scan

on:
  pull_request:
    branches: [main]

jobs:
  trufflehog:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: trufflesecurity/trufflehog@main
        with:
          path: ./src
          extra_args: --trust-local-git-config
          base: ${{ github.event.repository.default_branch }}
          head: HEAD
